data/
.vscode/
venv/
*.pt
*.pth
*.mp4
*.mov
*.avi
**/__pycache__/
*.pyc
*.pyo
.DS_Store
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
outputs/evaluation/reconstructed_frames
outputs/evaluation/targets_resized
models/